
<nav class="navbar navbar-inverse navbar-fixed-top opaque-navbar" role="navigation" >
  <!-- El logotipo y el icono que despliega el menú se agrupan
  <nav class="navbar navbar-inverse navbar-fixed-top opaque-navbar" role="navigation" >
       para mostrarlos mejor en los dispositivos móviles -->
 <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
      <span class="sr-only">Desplegar navegación</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="#">Logotipo</a>
  </div>
 
  <!-- Agrupar los enlaces de navegación, los formularios y cualquier
       otro elemento que se pueda ocultar al minimizar la barra -->

 <div class="collapse navbar-collapse navbar-ex1-collapse" id="topheader">
  <ul class="nav navbar-nav navbar-right" role="menu">
    <li><a href="/Ot"><h4>OT</h4></a></li>
    <li><a href="/Clientes"><h4>Clientes</h4></a></li>
    <li class="dropdown">
      <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><h4>Maestros<span class="caret"> &nbsp;</span></h4>
      </a>
      <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenuButton">
        <li><a class="dropdown-item" href="/Area">&Aacute;reas</a></li>
        <li><a class="dropdown-item"><a href="/Centro">Centro de Costo</a></li>
        <li><a class="dropdown-item" href="/Equipos">Equipos/Maquinaria</a></li>
        <li><a class="dropdown-item"><a href="/Estados">Estados</a></li>
        <li><a class="dropdown-item"><a href="/Responsables">Pesponsables</a></li>
        <li><a class="dropdown-item" href="/Servicios">Servicios</a></li>            
        <li class="divider"></li>
        <li ><a href="#">Admin</a></li>
      </ul>
    </li>
            <li class="dropdown">
      <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><h4>Reportes<span class="caret"> &nbsp;</span></h4>
      </a>
      <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenuButton">
        <li><a class="dropdown-item" href="#">OT General</a></li>
        <li><a class="dropdown-item"><a href="#">OT Por &Aacute;rea</a></li>
        <li><a class="dropdown-item"><a href="#">OT Por Centro de Costo</a></li>
        <li><a class="dropdown-item"><a href="#">OT Por Clientes</a></li>
        <li><a class="dropdown-item" href="#">OT Por Equipos/Maquinaria</a></li>
        <li class="divider"></li>
        <li ><a href="#">OT Parcial</a></li>
      </ul>
    </li>    
  </ul>
  </div><!-- /.navbar-collapse --> 
</nav>

