 <div id="login" class="container login">    
    <div class="row">
        <div class="col-xs-4 col-xs-offset-4">
            <img src="imagenes/ICON/avataresMH.png" class="logo center-block">
        </div>
    </div>
    <div class="espaciado">

    </div>
    <div class="row">
        <fieldset class="col-xs-10 col-xs-offset-1">
            <legend class="hidden-xs"><h3>Inicio de Sesi&oacute;n</h3></legend>
            <form method="POST" action="/" class="form-horizontal">
                <div class="form-group">
                    <label class="col-xs-12" for="usuario"><h4>Usuario</h4></label>                            
                    <div class="col-xs-10 col-xs-offset-1">
                        <input type="text" id="usuario" name="usuario" class="form-comtrol center-block Imput">
                    </div>   
                    <label class="col-xs-12" for="usuario"><h4>{{{msj}}}</h4></label>                         
                </div>
                <div class="form-group">
                        <label class="col-xs-12" for="password"><h4>Password</h4></label>
                        <div class="col-xs-10 col-xs-offset-1">
                            <input type="password" id="password" name="password" class="form-comtrol center-block Imput">
                        </div>                            
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary center-block">Aceptar</button>
                </div>
            </form>
        </fieldset>
    </div>
</div>