{{> header }}
<script>
	$(function() {
	    function log( message ) {
      $( "<div>" ).text( message ).prependTo( "#log" );
      $( "#log" ).scrollTop( 0 );
    }

   $( "#cod_OT" ).autocomplete({
      source: "/CombosOtcompleto",
      minLength: 1,
      select: function( event, ui ) {
        log( "Selected: " + ui.item.value1 + " : " + ui.item.label ); 
        $("#cod_OT").val(ui.item.value1);
        $("#id_resp").val(ui.item.value2);
        $("#cod_area").val(ui.item.value3);
        $("#cod_status").val(ui.item.value4);
        $("#cod_equipo").val(ui.item.value5);
        $("#cod_service").val(ui.item.value6);
        $("#cod_ccosto").val(ui.item.value7);
        $("#id_clie").val(ui.item.value8);
        $("#fec_OT").val(ui.item.value9);
        $("#cod_hes").val(ui.item.value10);
        $("#cod_valor").val(ui.item.value11);
        $("#cod_observac").val(ui.item.value12);
        $("#desc_resp").val(ui.item.value22);
      /*  
        
        $("#desc_area").val(ui.item.value33);
        $("#desc_status").val(ui.item.value44);
        $("#desc_equipo").val(ui.item.value55);
        $("#desc_service").val(ui.item.value66);
        $("#desc_ccosto").val(ui.item.value77);
        $("#desc_clie").val(ui.item.value88);*/
        

       
      }
    });

    $( "#desc_area" ).autocomplete({
      source: "/Combosarea",
      minLength: 1,
      select: function( event, ui ) {
        log( "Selected: " + ui.item.value + " : " + ui.item.label );
        $("#cod_area").val(ui.item.value1);
      }
    });

    $( "#desc_ccosto" ).autocomplete({
      source: "/Comboscc",
      minLength: 1,
      select: function( event, ui ) {
        log( "Selected: " + ui.item.value + " : " + ui.item.label );
        $("#cod_ccosto").val(ui.item.value1);
      }
    });

    $( "#desc_service" ).autocomplete({
      source: "/Combosts",
      minLength: 1,
      select: function( event, ui ) {
        log( "Selected: " + ui.item.value + " : " + ui.item.label );
        $("#cod_service").val(ui.item.value1);
      }
    });

    $( "#desc_clie" ).autocomplete({
      source: "/Combosclie",
      minLength: 1,
      select: function( event, ui ) {
        log( "Selected: " + ui.item.value + " : " + ui.item.label );
        $("#id_clie").val(ui.item.value1);
      }
    });

    $( "#desc_equipo" ).autocomplete({
      source: "/Comboseq",
      minLength: 1,
      select: function( event, ui ) {
        log( "Selected: " + ui.item.value + " : " + ui.item.label );
        $("#cod_equipo").val(ui.item.value1);
      }
    });

    $( "#desc_resp" ).autocomplete({
      source: "/Combosresponsable",
      minLength: 1,
      select: function( event, ui ) {
        log( "Selected: " + ui.item.value + " : " + ui.item.label );
        $("#id_resp").val(ui.item.value1);
      }
    });

    $( "#desc_status" ).autocomplete({
      source: "/Combosstatus",
      minLength: 1,
      select: function( event, ui ) {
        log( "Selected: " + ui.item.value + " : " + ui.item.label );
        $("#cod_status").val(ui.item.value1);
      }
    });
	});

</script>
   
<fieldset class="col-xs-10 col-xs-offset-1">
    <legend class="hidden-xs"><h3>&Oacute;rdenes de Trabajo</h3></legend>
    <form method="POST" action="/" class="form-horizontal" id="form_ot">        
        <div class="col-md-12 col-sm-12 col-xs-12">  
            <label class="col-xs-2" for="cod_OT"><h4 class="text-left">N&uacute;mero de OT</h4></label>                            
            <input type="text" id="cod_OT" name="cod_OT" class="form-comtrol  ImputMaestrosOT col-xs-2" placeholder="N&uacute;mero de OT" onkeypress="return validartextonum(event)">      
            <label class="col-xs-2" for="cod_hes"><h4 class="text-left">C&oacute;digo HES</h4></label>                                      
            <input type="text" id="cod_hes" name="cod_hes" class="form-comtrol  ImputMaestrosOT col-xs-3" placeholder="C&oacute;digo HES" onkeypress="return validarnumero(event)">
            <label class="col-xs-1" for="cod_valor"><h4  class="text-left">Valor $</h4></label>                            
            <input type="text" id="cod_valor" name="cod_valor" class="form-comtrol  ImputMaestrosOT col-xs-2" placeholder="Valor a cobrar" onkeypress="return validarnumero(event)">
        </div>        
        <div class="ui-widget">   
            <div class="col-md-12 col-sm-1 col-xs-12">  
                <label class="col-xs-2" for="fec_OT"><h4 class="text-left">Fecha</h4></label>                            
                <input type="date" id="fec_OT" name="fec_OT" class="form-comtrol  ImputMaestrosOT col-xs-2" placeholder="Fecha OT">                     
                <label class="col-xs-2" for="desc_clie"><h4 class="text-left">Datos Cliente</h4></label>                            
                <input type="text" id="desc_clie" name="desc_clie" class="form-comtrol  ImputMaestrosOT col-xs-3" placeholder="Cliente" onkeypress="return validartexto(event)">
                <label class="col-xs-1" for="id_clie"><h4 class="text-left">DNI</h4></label>                            
                <input type="text" id="id_clie" name="id_clie" class="form-comtrol  ImputMaestrosOT col-xs-2" placeholder="Cliente" onkeypress="return validarnumero(event)">    
           </div>  
            <div class="col-md-12 col-sm-12 col-xs-12">
                <label class="col-xs-2" for="desc_ccosto"><h4 class="text-left">Centro Costo</h4></label>                            
                <input type="text" id="desc_ccosto" name="desc_ccosto" class="form-comtrol  ImputMaestrosOT col-xs-4" placeholder="Centro Costo" onkeypress="return validartextonum(event)">
                <input type="hidden" id="cod_ccosto" name="cod_ccosto" class="form-comtrol  ImputMaestros">  
                <label class="col-xs-2" for="desc_service"><h4 class="text-left">Tipo de Servicio</h4></label>                            
                <input type="text" id="desc_service" name="desc_service" class="form-comtrol  ImputMaestrosOT col-xs-4" placeholder="Tipo de Servicio" onkeypress="return validartextonum(event)">                             
                <input type="hidden" id="cod_service" name="cod_service" class="form-comtrol  ImputMaestros">
            </div>  
            <div class="col-md-12 col-sm-12 col-xs-12">  
                <label class="col-xs-2" for="desc_resp"><h4 class="text-left">Responsable</h4></label>                            
                <input type="text" id="desc_resp" name="desc_resp" class="form-comtrol  ImputMaestrosOT col-xs-4" placeholder="Responsable" onkeypress="return validartexto(event)">           
                <input type="hidden" id="id_resp" name="id_resp" class="form-comtrol  ImputMaestrosOT">                                                                                                                                                               
                <label class="col-xs-2" for="desc_area"><h4 class="text-left">&Aacute;rea</h4></label>  
                <input type="text" id="desc_area" name="desc_area" class="form-comtrol ImputMaestrosOT col-xs-4" placeholder="&Aacute;rea asignada" onkeypress="return validartextonum(event)">
                <input type="hidden" id="cod_area" name="cod_area">
            </div>  
            <div class="col-md-12 col-sm-12 col-xs-12"> 
                <label class="col-xs-2" for="desc_equipo"><h4 class="text-left">Tipo Equipo</h4></label>                            
                <input type="text" id="desc_equipo" name="desc_equipo" class="form-comtrol  ImputMaestrosOT col-xs-4" placeholder="Equipo" onkeypress="return validartextonum(event)">
                <input type="hidden" id="cod_equipo" name="cod_equipo" class="form-comtrol  ImputMaestros">
                <label class="col-xs-2" for="desc_status"><h4 class="text-left">Status</h4></label>                            
                <input type="text" id="desc_status" name="desc_status" class="form-comtrol  ImputMaestrosOT col-xs-4" placeholder="Status" onkeypress="return validartextonum(event)">
                <input type="hidden" id="cod_status" name="cod_status" class="form-comtrol  ImputMaestros">
            </div>   
            <div class="col-md-12 col-sm-12 col-xs-12">
                <label class="col-xs-12" for="cod_observac"><h4>Observaciones</h4></label>                         
                <textarea class="form-control ImputMaestros" rows="5" id="cod_observac" name="cod_observac"></textarea>                                
            </div>                                                  
        </div>             
        <div class="btn-group" id="botones">                    
            <button type="button" class="btn btn-primary center-block" id="guardar1" onclick="guardar()">Guardar</button>
            <button type="button" class="btn btn-primary center-block" id="editar" onclick="actualizar()">Actualizar</button>                
            <button type="button" class="btn btn-primary center-block" id="cancelar" onclick="cancel()">Cancelar</button>                				
            <button type="button" class="btn btn-primary center-block" onclick="agregar()">Nuevo Producto</button>
        </div>    
    </form>
                        
</fieldset>

